@{
    ViewBag.Title = "Početna";
}
<div class="jumbotron">
    <h1>Ibro Autootpad</h1>
    <p class="lead">Dobro došli, ovdje možete pregledati dijelove koje imamo na raspolaganju.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Pregled dijelova</h2>
        <p>Moguće je online pregledati katalog dijelova!</p>
        <p><a class="btn btn-default" href="../_Dio">Kreni &raquo;</a></p>
    </div>
</div>
